* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 40px auto;
  padding: 70px;
  border: 5px solid black;
  border-radius: 7px;
  gap: 10px;
}
.kanji-card {
  font-size: 3rem;
  font-weight: bold;
}
.meaning-card {
  font-size: 2rem;
  font-weight: bold;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.btn_next {
  font-size: 1.5rem;
}

.btn_flip {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}
